<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css' integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==' crossorigin='anonymous'/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css' integrity='sha512-tx5+1LWHez1QiaXlAyDwzdBTfDjX07GMapQoFTS74wkcPMsI3So0KYmFe6EHZjI8+eSG0ljBlAQc3PQ5BTaZtQ==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    

    <div id="app">

        <div id="web-app">

            <div id="web-app-container">
                <div class="container">
                    <div class="row vh-100 align-items-center ">
                        
                        <div class="col">

                            <div id="main-section">
                                <div class="row h-100">
                                    <!-- left part - contacts -->
                                    <div id="contacts-section" class="col-4 p-0 bg-light h-100">
                                        <!-- personal contact -->
                                        <div class="personal-contact py-1 px-2 d-flex justify-content-between main-contacts-bg contact-chat-divisor">
                                            <div class="d-flex align-items-center">
                                                <figure class="m-0 p-0">
                                                    <img src="./assets/img/avatar_io.jpg" alt="personal-avatar" class="rounded rounded-circle">
                                                </figure>
                                                <span>Sofia</span>
                                            </div>
                                            <div class="d-flex align-items-center column-gap-2 pe-3 ">
                                                <i class="fa-solid fa-circle-notch"></i>
                                                <i class="fas fa-message"></i>
                                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                            </div>
                                        </div>

                                        <!-- notifications banner -->
                                        <div class="cyan-banner p-3 d-flex column-gap-2">
                                            <div>
                                                <i class="fas fa-bell-slash bg-light rounded rounded-circle"></i>
                                            </div>
                                            <div>
                                                <p class="p-0 m-0 fw-bold ">Ricevi notifiche di nuovi messaggi</p>
                                                <a href="#" class="text-dark fw-light">Attiva notifiche desktop</a>
                                            </div>
                                        </div>
                                        <!-- contact searchbar -->
                                        <div>
                                            <div class="input-group p-2">
                                                <span class="input-group-text" id="contactSearchbar">
                                                    <i class="fas fa-magnifying-glass"></i>
                                                </span>
                                                <input type="text" class="form-control shadow-none " placeholder="Cerca o inizia una nuova chat" aria-label="contact" aria-describedby="contactSearchbar">
                                              </div>
                                        </div>

                                        <!-- real contacts section -->
                                        <div>
                                            <ul class="list-unstyled">

                                                <li class="d-flex justify-content-between align-items-start p-2"
                                                    v-for="(contact, index) in contacts" :key="index"
                                                    @click="chatChange(index)">
                                                        <div class="d-flex column-gap-3">
                                                            <img :src="contact.avatar" :alt="contact.name" class="rounded rounded-circle">
                                                            <div class="d-flex flex-column">
                                                                <span>{{ contact.name }}</span>
                                                                <span class="text-secondary last-seen">Ultimo messaggio inviato</span>
                                                            </div>
                                                        </div>
                                                        <span class="contact-last-msg">12:00</span>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>



                                    <!-- right part - chat -->
                                    <div id="chat-section" class="col-8 p-0 h-100 ">
                                        <!-- chat contact -->
                                        <div class="py-1 px-2 d-flex justify-content-between main-contacts-bg">

                                            <div class="d-flex align-items-center column-gap-3 ">
                                                <figure class="m-0 p-0">
                                                    <img :src="contacts[activeChat].avatar" :alt="contacts[activeChat].name" class="rounded rounded-circle">
                                                </figure>
                                                <div>
                                                    <span>{{ contacts[activeChat].name }}</span>
                                                    <p class="p-0 m-0 last-seen">Ultimo accesso oggi alle 12:00</p>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center column-gap-2 pe-3 ">
                                                <i class="fas fa-magnifying-glass"></i>
                                                <i class="fas fa-message"></i>
                                                <i class="fa-solid fa-paperclip"></i>
                                            </div>
                                        </div>

                                        <div id="chat-content" class="my-chat-h overflow-auto">
                                            <div class="h-100 px-5 py-4 position-relative">
                                                <div>
                                                    <p  class="position-relative"
                                                        v-for="(text, textIndex) in contacts[activeChat].messages" :key="textIndex"
                                                        :class="(text.status == 'sent') ? 'text-sent ms-auto' : 'text-received' "  >
                                                        {{ text.message }}
                                                        <span class="position-absolute text-date">
                                                            {{ text.date }}
                                                        </span>
                                                    </p>
                                                </div>

                                                
                                                <div class="bg-text-area">
                                                    <div class="text-area d-flex justify-content-between align-items-center px-4 py-2">
                                                        <i class="fa-regular fa-face-smile"></i>
                                                        <input @keyDown.enter="sendMessage(activeChat)" type="text" class="form-control myInputWidht shadow-none py-2" placeholder="Scrivi un messaggio" v-model="textoToSend">
                                                        <i class="fas fa-microphone"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js' integrity='sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==' crossorigin='anonymous'></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>