<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css' integrity='sha512-tx5+1LWHez1QiaXlAyDwzdBTfDjX07GMapQoFTS74wkcPMsI3So0KYmFe6EHZjI8+eSG0ljBlAQc3PQ5BTaZtQ==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    

    <div id="app">
        
        <div id="web-app">

            <div id="web-app-container">
                <div class="container">
                    <div class="row vh-100 align-items-center ">
                        
                        <div class="col">

                            <div id="main-section">
                                <div class="row h-100">
                                    <!-- left part - contacts -->
                                    <div id="contacts-section" class="col-3 col-sm-4 p-0 bg-light h-100">
                                        <!-- personal contact -->
                                        <div class="personal-contact py-1 px-2 d-flex justify-content-between main-contacts-bg contact-chat-divisor">
                                            <div class="d-flex align-items-center column-gap-3 ">
                                                <figure class="m-0 p-0">
                                                    <img src="./assets/img/avatar_io.jpg" alt="personal-avatar" class="rounded rounded-circle">
                                                </figure>
                                                <span>Sofia</span>
                                            </div>
                                            <div class="d-flex align-items-center column-gap-3 pe-3 text-secondary opacity-75 contact-icons">
                                                <i class="fa-solid fa-circle-notch d-none d-md-block"></i>
                                                <i class="fas fa-message d-none d-md-block"></i>
                                                <i class="fa-solid fa-ellipsis-vertical  d-none d-sm-block"></i>
                                            </div>
                                        </div>

                                        <!-- notifications banner -->
                                        <div class="cyan-banner p-3 column-gap-2 d-none d-md-flex">
                                            <div>
                                                <i class="fas fa-bell-slash bg-light rounded rounded-circle"></i>
                                            </div>
                                            <div class="ps-3 ps-lg-0">
                                                <p class="p-0 m-0 fw-bold d-none d-lg-block">Ricevi notifiche di nuovi messaggi</p>
                                                <a href="#" class="text-dark fw-light ">Attiva notifiche desktop</a>
                                            </div>
                                        </div>
                                        <!-- contact searchbar -->
                                        <div class="d-flex align-items-center justify-content-center ">
                                            <div class="input-group p-2  myInputWidth">
                                                <span class="input-group-text d-none d-sm-block" id="contactSearchbar">
                                                    <i class="fas fa-magnifying-glass"></i>
                                                </span>
                                                <input type="text" class="form-control shadow-none " placeholder="Cerca o inizia una nuova chat" aria-label="contact" aria-describedby="contactSearchbar" v-model="textToFilterContacts"
                                                @keyUp="filterContacts">
                                            </div>
                                            <i class="fas fa-plus border rounded-1 p-2 mx-1 btn" @click="addContact"></i>
                                        </div>

                                        <!-- real contacts section -->
                                        <div class="overflow-y-scroll my-list-maxH">
                                            <ul class="list-unstyled">
                                                <li :class="(activeChat == index) ? 'active' : '' "
                                                    v-for="(contact, index) in contacts" :key="index"
                                                    v-show="contact.visible"
                                                    @click="chatChange(index)">
                                                    <div class="d-flex justify-content-between align-items-start px-3 py-2 ">
                                                        <div class="d-flex column-gap-3">
                                                            <img :src="contact.avatar" :alt="contact.name" class="rounded rounded-circle">
                                                            <div class="d-flex flex-column">
                                                                <span class="text-truncate text-truncate-mx-w-name">{{ contact.name }}</span>
                                                                <span class="text-secondary bot-status text-truncate text-truncate-max-width">{{ textOrDateDisplay('message', index) }}</span>
                                                            </div>
                                                        </div>
                                                        <span class="contact-last-msg">{{ textOrDateDisplay('date', index) }}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>

                                    <!-- right part - chat -->
                                    <div id="chat-section" class="col-9 col-sm-8 p-0 h-100 ">
                                        <!-- barra con contatto -->
                                        <div class="py-1 px-2 d-flex justify-content-between main-contacts-bg">

                                            <div class="d-flex align-items-center column-gap-3 ">
                                                <figure class="m-0 p-0">
                                                    <img :src="contacts[activeChat].avatar" :alt="contacts[activeChat].name" class="rounded rounded-circle">
                                                </figure>
                                                <div>
                                                    <span>{{ contacts[activeChat].name }}</span>
                                                    
                                                    <p v-if="isBotTyping == true" class="p-0 m-0 bot-status">Sta scrivendo...</p>
                                                    <div v-else>
                                                        <p  v-if="contacts[activeChat].messages =='' " class="p-0 m-0 bot-status"></p>
                                                        <p  v-else class="p-0 m-0 bot-status">Ultimo accesso oggi alle: {{ contacts[activeChat].messages[contacts[activeChat].messages.length - 1].date }}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center column-gap-3 pe-3 contact-icons text-secondary opacity-75">
                                                <i class="fas fa-magnifying-glass"></i>
                                                <i class="fa-solid fa-paperclip"></i>
                                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                            </div>
                                        </div>

                                        <!-- messaggi in chat -->
                                        <div id="chat-content" class="overflow-y-scroll ">
                                            <div class="px-5 py-4 position-relative">
                                                <div>
                                                    
                                                    <div class="position-relative mb-3 text-content"
                                                        v-for="(text, textIndex) in contacts[activeChat].messages" :key="textIndex"
                                                        :class="(text.status == 'sent') ? 'text-sent ms-auto pe-md-3 ' : 'text-received' "  >
                                                        {{ text.message }}
                                                        <span class="position-absolute text-date">
                                                            {{ text.date}}
                                                        </span>

                                                        <div class="dropdown dropdown-position">
                                                            <span class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            </span>
                                                            <ul class="dropdown-menu me-auto ">
                                                              <li><a class="dropdown-item" href="#">Informazioni messaggio</a></li>
                                                              <li><a @click="deleteMessagge(textIndex)" class="dropdown-item" href="#">Cancella messaggio</a></li>
                                                            </ul>
                                                          </div>
                                                    </div>
                                                </div>

                                                <!-- input messaggi da inviare -->
                                            </div>
                                        </div>

                                        <div class="bg-text-area">
                                            <div class="text-area d-flex justify-content-between align-items-center px-4 py-2">

                                                <i class="fa-regular fa-face-smile pointer-class"></i>
                                                <input @keyDown.enter="sendMessage(activeChat)" type="text" class="form-control myInputWidth shadow-none py-2 mx-sm-2 mx-md-0" placeholder="Scrivi un messaggio" v-model="textoToSend">

                                                <div v-if="textoToSend == ''" class="d-flex column-gap-3 ">
                                                    <i  class="fas fa-camera pointer-class"></i>
                                                    <i  class="fas fa-microphone pointer-class"></i>
                                                </div>

                                                <i v-else class="fas fa-paper-plane pointer-class" @click="sendMessage(activeChat)"></i>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                            </div>
                    
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>