body{
    background: linear-gradient(to bottom, rgba(0,150,136,1) 17%, #D9DBD5 17%);  
}
.main-contacts-bg{
    background-color: #e8e8e8;
}
#main-section{
    height: 750px;
}

img{
    height: 50px;
}
.fa-bell-slash{
    font-size: 1.3rem;
    color: hsl(199, 95%, 77%);
    padding: 12px 10px;
}
.cyan-banner{
    background-color: hsl(199, 95%, 77%);
}
.bot-status{
    font-size: 0.7rem;
}
.contact-last-msg{
    font-size: 0.6rem;
}
ul li{
    border-top: 0.2px solid hsl(180, 5%, 92%);
}
ul li:hover{
    background-color:hsl(180, 5%, 92%);
    cursor: pointer;
}
.contact-chat-divisor{
    border-right: 1px solid hsl(0, 0%, 78%);
}
.myInputWidth{
    width: 85%;
}


.bg-text-area{
    background-color:hsl(180, 5%, 92%);

}
#chat-content{
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
    height: calc(100% - 116px);
}


.text-sent{
    background-color: rgb(214, 250, 187);
}
.text-received{
    background-color: white;
}

.text-received,
.text-sent{
    max-width: 45%;
    padding: 18px 0 18px 20px;
    border-radius: 4px;
}

.text-date{
    font-size: 0.5rem;
    right: 10px;
    bottom: 5px;
}

.dropdown-position{
    position: absolute;
    top: 19px;
    right: 20px;
}
.dropdown-position{
    opacity: 0;
}
.text-content:hover .dropdown-position{
    opacity: 1;
}

.my-list-maxH{
    max-height: calc(100% - 254px);
}
.contact-icons{
    font-size: 1.3rem;
}
.contact-icons i{
    cursor: pointer;
}
.pointer-class{
    cursor: pointer;
}
.text-truncate-max-width{
    max-width: 150px;
}

@media screen and (max-width: 768px) {
    .text-truncate-max-width{
        max-width: 50px;
    }
    .text-truncate-mx-w-name{
        max-width: 50px;
    }
    .myInputWidth{
        width: 70%;
    }
    .my-list-maxH{
        max-height: calc(100% - 182px);
    }
}
@media screen and (max-width: 991px) {
    .text-truncate-max-width{
        max-width: 70px;
    }
    .myInputWidth{
        width: 80%;
    }
}

@media screen and (max-height: 800px) {
    #main-section{
        height: 680px;
    }
}

